data/videos/
data/training/
lib/
etc/
bin/
dist/
build/
share/
Scripts/
.DS_Store
pyvenv.cfg
.vscode/
venv/
src/__pycache__/
*.pyc
*.MOV
data/calibration_images/
best_model.pth
paper/
src/aegear.egg-info/
data/models/
package_build/