data/videos/
data/training/
lib/
etc/
bin/
dist/
build/
share/
Scripts/
.DS_Store
pyvenv.cfg
.vscode/
venv/
src/__pycache__/
*.pyc
*.spec
*.MOV
data/calibration_images/
best_model.pth
paper/
data/models/mask_rcnn/
data/models/efficientunet/